
body{
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}

input{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;
    background: transparent;
    width: 300px;
    height: 30px;
}
h3{
   color: rgb(28, 68, 109);; 
}

.Header{
    height: 100px;
    width: 100%;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    border-radius: 20px;
    background-color: rgb(5, 103, 128);
    color: #79AEB2;
}

button{
    height: 40px;
    width: 150px;
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
    border-radius: 20px;
    border-style: solid;
    background-color: rgb(4, 75, 146);
    color: #79AEB2;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.Dictonory-Container {
    width: 100%;
    color:slategray;
    left: 10%;
    top:15%;
    border-radius: 20px;
    border-style: solid;
    border-color:rgb(0, 0, 0);
    padding: 10px 10px 10px 10px;
    margin: 10px 10px 10px 10px;
}
